
.wrapper-items-weather .item {
    margin: 10px 0;
}

.wrapper-items-weather .weather-label{
    color: #0a568c;
    font-weight: bold;
}
.wrapper-items-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: black;
}
